<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DocumentAssistant.Properties.Settings.documentassistantConnectionString"
            connectionString="server=127.0.0.1;user id=tu;password=QAz1234567890;database=documentassistant"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DocumentAssistant.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>server=127.0.0.1;database=documentassistant;user id=tu;password=QAz1234567890;</value>
            </setting>
            <setting name="xls_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Mark" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Place" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Status" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Serial" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Serial2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BasePathReserv" serializeAs="String">
                <value>server=10.2.102.108;database=documentassistant;user id=IA;password=QAz123456;</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="xls_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Text2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Text3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Text4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Text5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Text6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Owner" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Prise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Date" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_Place2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xls_OS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BasePathReserv_ACER" serializeAs="String">
                <value>server=127.0.0.1;database=documentassistant;user id=tu;password=QAz1234567890;</value>
            </setting>
            <setting name="TempDirectory_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="xls_Status2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="st1" serializeAs="String">
                <value />
            </setting>
            <setting name="st2" serializeAs="String">
                <value />
            </setting>
            <setting name="st3" serializeAs="String">
                <value />
            </setting>
            <setting name="st4" serializeAs="String">
                <value />
            </setting>
            <setting name="st5" serializeAs="String">
                <value />
            </setting>
            <setting name="st6" serializeAs="String">
                <value />
            </setting>
            <setting name="st_2_1" serializeAs="String">
                <value />
            </setting>
            <setting name="st_2_2" serializeAs="String">
                <value />
            </setting>
            <setting name="st_2_3" serializeAs="String">
                <value />
            </setting>
            <setting name="st_2_4" serializeAs="String">
                <value />
            </setting>
            <setting name="st_2_5" serializeAs="String">
                <value />
            </setting>
        </DocumentAssistant.Properties.Settings>
    </userSettings>
</configuration>